.DS_Store
/GUISederhana/nbproject/private/
/GUISederhana/build/
/PBOTubes/nbproject/private/
/JavaApplication5/nbproject/private/
/GUISederhana (Pertemuan 11)/build/
/GUISederhana (Pertemuan 11)/nbproject/private/
